%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      = @profile.name
      \- Pingtags.com
      = controller.to_s
    = stylesheet_link_tag 'iphone'
  %body
    .iphone_button Ping Me
    iphone user
    %h1= @profile.name
    =image_tag @profile.avatar
