#header
  PingTags

#intro
  .avatar
    = image_tag 'http://www.gravatar.com/avatar/a85de1a89629d2d18821ea25d82e7e63.jpg'
  .bio
    %p
      %strong Mark Percival
      %br
      Ruby Developer

  %p
    I'm a software developer specializing in mobile web applications and Ruby on Rails. I'm currently available for consulting

#actions
  %ul
    %l1 SquarePush
    %l1 Neomedia
