Hey #{@recipient.name},

%p
  Looks like #{@sender.name} just pinged you using your PingTag business card

%p
  You can find out more about them here - 
  = link_to user_url(@sender), user_url(@sender)
  or
  = link_to @sender.public_profile_url, @sender.public_profile_url

%p
  Thanks for using PingTags!
