Hey #{@user.name},

%p
  Looks like you just signed up for a PingTag.

%p You can find out more about your new PingTag here - #{link_to account_url, account_url}

%p And feel free to contact us at support@squarepush.com

%p Thanks for using PingTags!

%p
  P.S. We're still in beta, so please excuse our mess while we sort things out.
