body {
  background: #FCFCFC;
  border-top: 3px solid #222; }

.video_placeholder {
  background-color: #666;
  height: 270px;
  font-size: 2em;
  color: white; }

#home.intro {
  width: 100%;
  padding: 1.5em 0 0 0;
  margin-bottom: 2em;
  border-top: 3px solid #CCC;
  border-bottom: 3px solid #CCC;
  background: url(/images/square_bg.png); }

#badge {
  margin-bottom: 1.62em; }

.avatar {
  margin-right: 1.62em;
  float: left;
  border: 1px solid #333; }

.bio .name {
  font-size: 1.5em;
  font-weight: bold; }

#header {
  color: #222; }
  #header h1.logo {
    margin: 0;
    padding-top: 15px; }
    #header h1.logo a {
      float: left;
      width: 375px;
      height: 60px;
      background: url("/images/logo.png") top right no-repeat;
      text-indent: -9999px; }
  #header .login-box {
    background: #898989;
    padding: 8px 8px;
    float: right;
    font-weight: bold;
    font-size: 1em;
    color: #DDD; }
    #header .login-box a {
      color: #DDD; }
      #header .login-box a:hover {
        color: #FFF; }

#nav {
  padding-top: 0.25em;
  height: 2em;
  font-size: 1.1em;
  text-align: center;
  top: 0;
  right: 0px;
  position: absolute;
  background: #222;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  #nav a:hover {
    color: #DDD; }
  #nav li {
    margin: 0;
    padding: 0 1em;
    display: inline;
    list-style: none; }
  #nav li.last {
    border-left: 1px solid #666; }

#footer {
  color: #999;
  margin-top: 2em;
  border-top: 1px solid #CCC; }
  #footer a, #footer a:hover, #footer a:visited {
    color: #999; }

select {
  border: 1px solid #BBBBBB;
  font-size: 16px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  margin: 2px 0;
  padding: 5px; }

input[type="text"], input[type="password"] {
  border: 1px solid #BBBBBB;
  font-size: 16px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  margin: 2px 0;
  padding: 5px; }

textarea {
  border: 1px solid #BBBBBB;
  font-size: 16px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal;
  margin: 2px 0;
  padding: 5px; }

label {
  font-size: 16px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  text-shadow: 1px 1px 1px #f2f2f2;
  color: #444;
  display: block;
  font-variant: small-caps;
  text-transform: lowercase;
  text-align: left; }

fieldset {
  margin: 10px auto;
  border: none; }

button, input[type='submit'] {
  background: #00A2D7;
  color: rgb(236, 245, 222);
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 22px;
  height: 42px;
  line-height: 42px;
  margin: 0px;
  overflow: visible;
  padding: 0px 15px; }

.big_button {
  text-align: center;
  display: block;
  background: #00A2D7;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  color: white;
  cursor: pointer;
  font-size: 22px;
  height: 42px;
  line-height: 42px;
  overflow: visible;
  padding: 10px 15px;
  text-shadow: #0083AF 1px 1px;
  margin-bottom: 0.25em; }

a {
  color: #00A2D7;
  text-decoration: none; }

table {
  border: 1px solid #D8D8D8;
  width: 100%;
  border-collapse: separate;
  display: table; }

th {
  background-color: #EAEAEA;
  border-bottom: 1px solid #D8D8D8;
  color: #999999;
  font-weight: normal;
  padding: 0.3em 0.3em;
  text-align: left; }

td.icon {
  width: 1em; }

td {
  background-color: #FFF;
  color: #222;
  font-weight: normal;
  padding: 0.3em 0.3em;
  text-align: left; }

.center {
  text-align: center; }

ul.dashed li {
  list-style: none;
  border-top: 1px dashed #ccc;
  margin-left: 0em; }
ul.dashed li:first-child {
  border-top: none; }

.note {
  display: block;
  font-size: 85%;
  color: #999; }

img.frame {
  border-top: 4px solid #999;
  border-bottom: 4px solid #00A2D7; }

.dark {
  color: #666; }

.bright {
  color: #00A2D7; }

.small {
  display: inline;
  font-size: 85%; }

.close {
  margin: 0;
  padding: 0; }

.highlight {
  background-color: #FFCBF8;
  padding: 0;
  display: inline; }

em {
  font-weight: bold; }

.center {
  text-align: center; }

#map {
  height: 500px; }

.grey_border {
  border: 1px solid #CCC; }

#content tr {
  background: #F8F8F8;
  border-bottom: 1px solid #E1E1E1;
  color: #484848;
  padding: 0.5em 0.3em; }
