#simple_box 
  %h1.header PingTags is currently in beta.
  .box
    You can sign up for a free account using LinkedIn.
    - form_for UserSession.new do |f|
      %label Email
      = text_field_tag :email
      = submit_tag 'Signup using LinkedIn', :class => 'bright'
      %br
      = link_to 'Cancel', root_path