#home
  %div{:class => 'grid_4 prefix_2'}
    %h2.heading Scan Information
    %ul.dashed
      %li
        Scanned
        = time_in_words(@scan.created_at)
      %li
        Device
        = @scan.device.make
      %li
        User Agent:
        = @scan.device.user_agent
      -if @scan.ip_address
        %li
          IP Address:
          =@scan.ip_address
    %h2.heading.clicks Clicks
    -unless @scan.clicks.empty?
      %ul.dashed
        -@scan.clicks.each do |click|
          %li
            %a{:href => click.link_href}= click.link
            
    -else
      No clicks for this scan

  %div{:class => 'grid_4 omega'}
    %h2.heading Location
    -if @scan.lat and @scan.long
      #location Foo
    -else
      No location information available for this click
  %div.clear