</div>
#home.intro
  .container_12.center
    %div.grid_5.suffix_1
      %h2.close Your business card is useful again
      %h5.bright A scannable, clickable, trackable way to connect your business card with LinkedIn&trade;
      %p
        With Pingtags, you can link your business card to your LinkedIn&trade; profile
        with a 
        %em simple QR code. 
        Signup below using LinkedIn and 
        %em start using it in 30 seconds
      %h3.close
        %a.big_button{:href => signup_path}
          Signup via LinkedIn
        .note.dark
          All beta users get a lifetime free account!
    #iphone.grid_6
      =image_tag 'iphone_screen.png'
    .clear
    
.container_12
  
  #scan.grid_4
    %img.frame{:src => 'images/scan.jpg'}
    %h2 Scan
    %p 
      When a user scans your QR Code, they'll be directed your personal page, where all
      your LinkedIn information will be displayed along with your personal contact information

  #click.grid_4
    %img.frame{:src => 'images/click.jpg'}
    %h2 Click
    %p 
      Anyone scanning your code will have the opportunity to email or call you without keying 
      in any information. Making contacting you even easier.

  #analyze.grid_4.omega
    %img.frame{:src => 'images/analyze.jpg'}
    %h2 Analyze
    %p 
      When you log into your PingTags account you'll be able to see how many people scanned
      your barcode, what links they clicked, and a map showing exactly where they scanned the code.
.container_12
  #footer.grid_12
    &copy; 
    %a{:href => 'http://squarepush.com'} 2010 Squarepush LLC and powered by LinkedIn&trade;