#simple_box 
  %h1.header= t('login.beta_notice')
  .box
    %p= t('login.signin_with_linkedin')

    = link_to t('login.signin_button'), linkedin_user_sessions_path, :class => 'big_button'

    = link_to t('login.cancel'), root_path

  
