!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      PingTags:
      = title || controller.class.to_s.gsub('Controller','')
    = stylesheet_link_tag 'reset', 'text', '960', 'squarepush', 'master'
    = javascript_include_tag 'jquery', :cache => true
    
    =yield :scripts
  %body
    .container_12
      #header
        #logo.grid_12
          %h1
            Pingtags
          #nav
            -if current_user
              %ul
                %li.first 
                  %a{:href => account_path}
                    Dashboard
                %li.last
                  %a{:href => logout_path}
                    Logout
            -else
              %ul
                %li.first
                  %a{:href => signup_path}
                    Signup
                %li.last
                  %a{:href => login_path}
                    Login
      .clear
      = yield
