!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
      Pingtags :
      = controller.controller_name
    = stylesheet_link_tag 'reset', 'text', '960', 'squarepush', 'master'


  %body
    %p{ :style => "color: green" }
    #flash.container_16
      = flash[:notice]

    = yield